.container-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space;
    justify-content: space-between;
    background-color: #401D10;
    color: #260801;
    width: 100%;
    height: 100%;
    padding: 28px;
    padding-top: 300%;
    
}

.container-topfilmes{
    display: flex;
    width: 27%;
   
    justify-content: center;
}

.overview {
    font-size: 16px;
    font-family: 'roboto' sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 19vw;
    background-color: black;
}


.posters-top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:66vh;
    margin-bottom: 56px;
    margin-top: 8px;
    margin: 6px;
    box-shadow: 12px 7px 10px #260801;
    border-radius: 16px;
    /* z-index: 3; */
}

.posters:hover{
    transform: scale(1.);
    transition:0.3s;
    opacity: 3;
}


/* Color Theme Swatches in Hex */
.Vintage-old-movie-camera-with-copy-space-1-hex {
    color: #96CCD9;
}

.Vintage-old-movie-camera-with-copy-space-2-hex {
    color: #A3BFB7;
}

.Vintage-old-movie-camera-with-copy-space-3-hex {
    color: #735929;
}

.Vintage-old-movie-camera-with-copy-space-4-hex {
    color: #401D10;
}

.Vintage-old-movie-camera-with-copy-space-5-hex {
    color: #260801;
}

/* Color Theme Swatches in RGBA */
.Vintage-old-movie-camera-with-copy-space-1-rgba {
    color: rgba(149, 204, 216, 1);
}

.Vintage-old-movie-camera-with-copy-space-2-rgba {
    color: rgba(162, 191, 183, 1);
}

.Vintage-old-movie-camera-with-copy-space-3-rgba {
    color: rgba(114, 89, 41, 1);
}

.Vintage-old-movie-camera-with-copy-space-4-rgba {
    color: rgba(63, 28, 15, 1);
}

.Vintage-old-movie-camera-with-copy-space-5-rgba {
    color: rgba(38, 7, 0, 1);
}

/* Color Theme Swatches in HSLA */
.Vintage-old-movie-camera-with-copy-space-1-hsla {
    color: hsla(191, 46, 71, 1);
}

.Vintage-old-movie-camera-with-copy-space-2-hsla {
    color: hsla(163, 18, 69, 1);
}

.Vintage-old-movie-camera-with-copy-space-3-hsla {
    color: hsla(39, 47, 30, 1);
}

.Vintage-old-movie-camera-with-copy-space-4-hsla {
    color: hsla(16, 60, 15, 1);
}

.Vintage-old-movie-camera-with-copy-space-5-hsla {
    color: hsla(11, 96, 7, 1);
}


@media screen and (max-width: 1000px) {

    .container-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space;
        padding-top: 200%

    }

    .container-topfilmes {
        display: flex;
        flex-wrap: wrap;
        width: 29vw;

    }

    .posters-top {
        /* position:absolute; */
        display: flex;
        height: 30vh;

        box-shadow: 12px 7px 10px #260801;
        border-radius: 16px;
        z-index: 3;
    }
    
}

@media screen and (max-width: 500px) {

    .container-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 520%;

    }

    .container-topfilmes {
        display: flex;
        flex-wrap: wrap;
        width: 35vw;
        

    }

    .posters-top {
        /* position:absolute; */
        display: flex;
        height: 30vh;

        box-shadow: 12px 7px 10px #260801;
        border-radius: 16px;
        z-index: 3;
    }
}
