.divizona{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90%;
    flex-direction: column;
    
}

.container-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

