.divizona{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    margin: 0;
}

.container_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    margin: 20px;
    
}

.card{
    display: inline-flex;
    flex-direction: column;
    background-color: red;
 
    align-items: center;
    justify-content: center;
    
}