
 
    .divizona {
        display: flex;
       margin: 0;
       padding: 0;
        width: 100vw;
        height: 100%;
        flex-direction: column;
       
        

    }

    .container-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin-right: 0;
        padding: 0%;
         background-color: #401D10;

    }



