
.genero{
    display: flex;
    flex-direction: row;

    background-color: #401D10;
    width: 100vw;
    border: 10px solid rgb(97, 194, 120);
    align-items: center;
    margin-top: 60px;

}

.container-genero{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #A3BFB7;
    width: 40vw;
    margin: 28px;
    font-size:18px ;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    
} 

.imagem{
    margin-bottom: 8px;
}

.titulo-generos{
    display: flex;
   font-size: 52px;
    color: #A3BFB7;
   width: 100vw;
   align-items: center;
   justify-content: center;
   z-index: 3;
  
   
}

.titulo-filme{
    width: 100%;
    padding: 8px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* celular */
@media screen and (max-width: 500px){

.genero{
    display: flex;
    flex-direction: column;
    background-color: #401D10;
    width: 100vw;
    border: 1px solid white;
    align-items: center;
}

.container-genero {
    display: flex;
    flex-direction: column;
    width: 40vh;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: #A3BFB7;
    width: 95vw;
    margin: 28px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

.imagem {
    width: 90vw;
}
}

/* tablet */
@media screen and (max-width: 1000px) {

    .genero {
        display: flex;
        flex-direction: column;
        background-color: #401D10;
        width: 100vw;
        border: 1px solid white;
        align-items: center;
    }

    .container-genero {
        display: flex;
        flex-direction: column;
        width: 40vh;
        align-items: center;
        justify-content: center;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        background-color: #A3BFB7;
        width: 95vw;
        margin: 28px;
        align-items: center;
        justify-content: center;
        border-radius: 16px;

    }

    .imagem {
        width: 90vw;
    }
}
