.genero{
    display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  padding: 6%;
    background-color: #401D10;
    height: 100%;
    align-items: center;  
}
.container-genero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}



.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:40vw;
    background-color: #96CCD9;;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 8px;
    padding: 0;

}

.imagem {
    display: flex;
    width: 100%;
    align-self: flex-end;
}

