.toolbar{
    background-color:#96CCD9;
    color: #260801;
    height: 50px;
    font-style: normal;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.logo:hover {
    cursor: pointer;
    transition: 0.3;
    transform: scale(1.1);
}



.item-lateral:hover{
    background-color:#96CCD9 ;
    cursor: pointer;
}