.container-footer{
   
   
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: #96CCD9;
   
  
}

@media screen and (max-width: 500px) {
      .container-footer {
        display: flex;
        background-color:#96CCD9;
        height: 100%;
      }
      
    
}