@media screen and (min-width: 200px) and (max-width: 480px) {
    .container-detalhe {
        background-color: #401D10;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .card-detalhe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
    }


    .card-overview {
        display: flex;
        width: 90%;
        background-color: #96CCD9;
        border-radius: 0 0 8px 8px;
        padding: 32px 18px;
        margin-top: 0;
    }

    .card-title {
        font-size: 2rem;
        width: 90vw;
        /* height: 10vh; */
        flex-wrap: wrap;
        color: #96CCD9;
        align-items: center;
        justify-content: center;
        font-weight: 400;


    }

    .card-image {
        width: 91%;
        border-radius:  18px 18px 0 0;
        justify-self: center;
        align-self: center;     
    }

   
}



 @media screen and (min-width: 481px) and (max-width: 768px) {
     .container-detalhe {
         background-color: #401D10;
         width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0;
     }

     .card-detalhe {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content:baseline;
         height: 100vh;
         width: 90vw;
         padding: 0;
         margin-bottom:10% ;
     }


     .card-overview {
         display: flex;
         width: 80%;
         background-color: #96CCD9;
         border-radius: 0 0 8px 8px;
         padding: 32px 18px;
         margin-top: 0;
     }

     .card-title {
         font-size: 3rem;
         width: 70vw;
         /* height: 10vh; */
         flex-wrap: wrap;
         color: #96CCD9;
         align-items: center;
         justify-content: center;
         font-weight: 500;


     }

     .card-image {
         width: 80%;
         border-radius: 18px 18px 0 0;
         justify-self: center;
         align-self: center;
     }

    
}

 @media screen and (min-width: 769px) and (max-width: 962px) {
     .container-detalhe {
         background-color: #401D10;
         width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .card-detalhe {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: baseline;
         height: 100vh;
         width: 90vw;
     }


     .card-overview {
         display: flex;
         width: 85%;
         background-color: #96CCD9;
         border-radius: 0 0 8px 8px;
         padding: 32px 18px;
         margin-top: 0;
     }

     .card-title {
         font-size: 2.3rem;
         width: 80vw;
         /* height: 10vh; */
         flex-wrap: wrap;
         color: #96CCD9;
         align-items: center;
         justify-content: center;
         font-weight: 500;


     }

     .card-image {
         width: 85%;
         border-radius: 18px 18px 0 0;
         justify-self: center;
         align-self: center;
     }


 }

@media screen and (min-width: 963px) and (max-width: 1200px){
      .container-detalhe {
          background-color: #401D10;
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
      }

      .card-detalhe {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: baseline;
          height: 90vh;
          width: 90vw;
          padding: 0;
          margin-bottom: 10%;
      }


      .card-overview {
          display: flex;
          width: 60%;
          background-color: #96CCD9;
          border-radius: 0 0 8px 8px;
          padding: 32px 18px;
          margin-top: 0;
      }

      .card-title {
          font-size: 3rem;
          width: 60vw;
          /* height: 10vh; */
          flex-wrap: wrap;
          color: #96CCD9;
          align-items: center;
          justify-content: center;
          font-weight: 500;
      }

      .card-image {
          width: 60%;
          border-radius: 18px 18px 0 0;
          justify-self: center;
          align-self: center;
      }


      }

      @media screen and (min-width: 1200px) and (max-width: 1600px) {
          .container-detalhe {
              background-color: #401D10;
              width: 100vw;
              height: 100vh;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0;
          }

          .card-detalhe {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: baseline;
              height: 90vh;
              width: 90vw;
              padding: 0;
              margin-bottom: 10%;
          }


          .card-overview {
              display: flex;
              width: 70%;
              background-color: #96CCD9;
              border-radius: 0 0 8px 8px;
              padding: 32px 18px;
              margin-top: 0;
              font-size: 1.7rem;
          }

          .card-title {
              font-size: 3rem;
              width: 60vw;
              /* height: 10vh; */
              flex-wrap: wrap;
              color: #96CCD9;
              align-items: center;
              justify-content: center;
              font-weight: 500;
          }

          .card-image {
              width: 70%;
              border-radius: 18px 18px 0 0;
              justify-self: center;
              align-self: center;
          }


      }


       @media screen and (min-width: 1600px) and (max-width: 1900px) {
           .container-detalhe {
               background-color: #401D10;
               width: 100vw;
               height: 100vh;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               padding: 0;
           }

           .card-detalhe {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: baseline;
               height: 90vh;
               width: 90vw;
               padding: 0;
               margin-bottom: 10%;
           }


           .card-overview {
               display: flex;
               width: 80%;
               background-color: #96CCD9;
               border-radius: 0 0 8px 8px;
               padding: 32px 18px;
               margin-top: 0;
               font-size: 2.7rem;
           }

           .card-title {
               font-size: 4.5rem;
               width: 80vw;
               /* height: 10vh; */
               flex-wrap: wrap;
               color: #96CCD9;
               align-items: center;
               justify-content: center;
               font-weight: 500;
           }

           .card-image {
               width: 80%;
               border-radius: 18px 18px 0 0;
               justify-self: center;
               align-self: center;
           }


       }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
      .container-detalhe {
          background-color: #401D10;
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
      }

      .card-detalhe {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: baseline;
          height: 90vh;
          width: 90vw;
          padding: 0;
          margin-bottom: 10%;
      }


      .card-overview {
          display: flex;
          width: 70%;
          background-color: #96CCD9;
          border-radius: 0 0 8px 8px;
          padding: 32px 18px;
          margin-top: 0;
          font-size: 1.7rem;
      }

      .card-title {
          font-size: 3rem;
          width: 60vw;
          /* height: 10vh; */
          flex-wrap: wrap;
          color: #96CCD9;
          align-items: center;
          justify-content: center;
          font-weight: 500;
      }

      .card-image {
          width: 70%;
          border-radius: 18px 18px 0 0;
          justify-self: center;
          align-self: center;
      }


  }


  @media screen and (min-width: 1900px) {
      .container-detalhe {
          background-color: #401D10;
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
      }

      .card-detalhe {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: baseline;
          height: 90vh;
          width: 90vw;
          padding: 0;
          margin-bottom: 10%;
      }


      .card-overview {
          display: flex;
          width: 60%;
          background-color: #96CCD9;
          border-radius: 0 0 8px 8px;
          padding: 32px 18px;
          margin-top: 0;
          font-size: 2.7rem;
      }

      .card-title {
          font-size: 4.5rem;
          width: 70vw;
          /* height: 10vh; */
          flex-wrap: wrap;
          color: #96CCD9;
          align-items: center;
          justify-content: center;
          font-weight: 500;
      }

      .card-image {
          width: 60%;
          border-radius: 18px 18px 0 0;
          justify-self: center;
          align-self: center;
      }


  }

    