/* Color Theme Swatches in RGBA */
.Vintage-old-movie-camera-with-copy-space-1-rgba {
    color: rgba(149, 204, 216, 1);
}

.Vintage-old-movie-camera-with-copy-space-2-rgba {
    color: rgba(162, 191, 183, 1);
}

.Vintage-old-movie-camera-with-copy-space-3-rgba {
    color: rgba(114, 89, 41, 1);
}

.Vintage-old-movie-camera-with-copy-space-4-rgba {
    color: rgba(63, 28, 15, 1);
}

.Vintage-old-movie-camera-with-copy-space-5-rgba {
    color: rgba(38, 7, 0, 1);
}

/* Color Theme Swatches in HSLA */
.Vintage-old-movie-camera-with-copy-space-1-hsla {
    color: hsla(191, 46, 71, 1);
}

.Vintage-old-movie-camera-with-copy-space-2-hsla {
    color: hsla(163, 18, 69, 1);
}

.Vintage-old-movie-camera-with-copy-space-3-hsla {
    color: hsla(39, 47, 30, 1);
}

.Vintage-old-movie-camera-with-copy-space-4-hsla {
    color: hsla(16, 60, 15, 1);
}

.Vintage-old-movie-camera-with-copy-space-5-hsla {
    color: hsla(11, 96, 7, 1);
}

/* Color Theme Swatches in Hex */
.Vintage-old-movie-camera-with-copy-space-1-hex {
    color: #96CCD9;
}

.Vintage-old-movie-camera-with-copy-space-2-hex {
    color: #A3BFB7;
}

.Vintage-old-movie-camera-with-copy-space-3-hex {
    color: #735929;
}

.Vintage-old-movie-camera-with-copy-space-4-hex {
    color: #401D10;
}

.Vintage-old-movie-camera-with-copy-space-5-hex {
    color: #260801;
}